.category-card {
    transition: all 0.5s;
    z-index: 997;
    padding: 30px 0;
    text-align: center;
    font-size: 150%;
  }

  .post-card {
    max-height: 750px;
    overflow: hidden;
    text-align: center;    
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .post-img {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

