{% extends "base.html" %}

{% load static %}

{% block content %}

{% load crispy_forms_tags %}


<div class="container post-section">
    <div class="row justify-content-md-center">
        <div class="card bg-secondary">
            <div class="card-header">
                <div class="card-title bg-dark post-card">
                    <h2>{{ post.title }}</h2>
                    <div>
                        {{ post.created_on }}
                        Author: {{ post.author }}
                    </div>
                    
                    {% if post.author == request.user %}
                    <hr>
                    <a href="{% url 'delete_post' post.id %}" class="btn btn-danger right "><i
                            class="bi bi-trash"></i>Delete</a>
                    <a href="{% url 'edit_post' post.id %}" class="btn btn-primary right "><i
                            class="bi bi-pencil"></i>Edit</a>
                    {% endif %}
                </div>
            </div>
            <div class="card-body post-card bg-secondary">
                {% if "placeholder" in post.featured_image.url %}
                <p class="card-text">{{ post.content | safe }}</p>
                {% else %}
                <div class="image-container">
                    <img class="card-img-top post-img" src="{{ post.featured_image.url }}">
                    <p class="card-text">{{ post.content | safe }}</p>
                </div>
                {% endif %}
            </div>
            <div class="like-section">
                {% if user.is_authenticated %}
                <form action="{% url 'like_post' post.slug %}" method="post">
                    {% csrf_token %}
                    {% if liked %} 
                        <button type="submit" name="forumpost_id" value="{{ post.slug }}" class="like-btn">
                            <i class="bi bi-heart-fill"></i></button>
                    {% else %}
                        <button type="submit" name="forumpost_id" value="{{ post.slug }}" class="like-btn">
                            <i class="bi bi-heart"></i></button>
                    {% endif %}
                </form>
                {% else %}
                    <i class="bi bi-heart"></i>
                {% endif %}
                {{ post.number_of_likes }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr>
            <h3>Comments: </h3>
            {% for comment in comments %}
            <div class="card bg-secondary">
                <div class="card-header">
                    Author: {{ comment.author }} 
                    Added: {{ comment.created_on }}
                </div>
                <div class="card-body">
                    <p class="card-text">{{ comment.comment }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col">
                {% if user.is_authenticated %}
                <form method="post">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button types="submit" class="btn btn-success">Add Comment</button>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %} 