{% extends "base.html" %}

{% load static %}

{% block content %}

{% load crispy_forms_tags %}
<!-- Header section-->
<section id="hero" class="hero d-flex flex-column justify-content-center align-items-center" data-aos="fade"
    data-aos-delay="1500">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 text-center">
                <h1>{{ category.title }}</h1>
            </div>
            <div class="text-center">
            {% if user.is_authenticated %}
            <a href="{% url 'add_post' category.slug %}" class="btn btn-outline-success right"><i class="bi bi-plus-square-fill"></i> Add Post</a>
            {% endif %}
            </div>
        </div>
    </div>
</section>
<!-- Post section -->
<section>
<div class="container">
    <div class="row justify-content-md-center"></div>
    {% for post in posts %}
        <a href="{% url 'post_detail' category.slug post.slug %}">
            <div class="border-post">
                <div class="col">

                    <h2>{{ post.title }}</h2>

                    <div class="col">
                        {{ post.created_on }}
                        Author: {{ post.author }}
                        <br>
                        <i class="bi bi-heart-fill"></i>: {{ post.number_of_likes }}
                    </div>
            </div>
        </a>
    {% endfor %}
    </div>
</div>
</section>
{% endblock %} 