{% extends "base.html" %}

{% block content %}

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex flex-column justify-content-center align-items-center" data-aos="fade" data-aos-delay="1500">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6 text-center">
          <h2>I'm <span>Frida Olfsson</span>I live in a villa outside Nynäshamn with a garden of approx. 600 square meters.</h2>
          <p>Here you can follow my path to growing in harmony with nature in our kitchen garden & greenhouse. And discuss growing, food, wine or anything in the forum</p>
          <a href="{% url 'contact' %}" class="btn-get-started">If you want to contact me</a>
        </div>
      </div>
    </div>
  </section><!-- End Hero Section -->
{% endblock %} 