{% extends "base.html" %}

{% block content %}
    <!-- ======= End Page Header ======= -->
    <div class="page-header d-flex align-items-center">
      <div class="container position-relative">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-6 text-center">
            <h2>Shop:</h2>
            <p>My stuff i make, like plant slave can me found at: </p>
          </div>
        </div>
      </div>
    </div><!-- End Page Header -->

    <!-- ======= Contact Section ======= -->
    <section>
      <div class="container">
        <div id="map"></div>
    </section><!-- End Contact Section -->

 {% endblock content %}