{% extends "base.html" %}

{% block content %}
    <!-- Header -->
    <div class="page-header d-flex align-items-center">
      <div class="container position-relative">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-6 text-center">
            <h2>Shop:</h2>
            <p>You can buy my <strong>marigold ointment at:</strong></p>
            <ul>
              <li><a href="https://www.haringeslott.se/" target="_blank" alt="link to häringslott"> A: Häringe slott</a></li>
              <li><a href="https://www.kangstanaturbruk.com/" target="_blank" alt="link to kängstanaturbruk"> B: Kängsta Gårdsbutik</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- Map -->
    <section>
      <div class="container">
        <div id="map"></div>
    </section>

 {% endblock content %}